#Transciption packages
faster-whisper
uvloop
av==11.*
ctranslate2>=4.0,<5
huggingface_hub>=0.13
tokenizers
onnxruntime>=1.14,<2
httptools==0.1.*
python-multipart
nvidia-cublas-cu12

#TTS packages
accelerate
altair
appdirs
attrs
audioread
auraloss
beautifulsoup4
blinker
boltons
cachetools
certifi
cffi
charset-normalizer
clean-fid
click
clip-anytorch
colorama
contourpy
cycler
decorator
docker-pycreds
docstring-parser
einops
entrypoints
fastapi
filelock
fonttools
ftfy
gdown
gitdb
gitpython
huggingface-hub
idna
imageio
importlib-metadata
importlib-resources
inflect
jinja2
joblib
jsonmerge
jsonschema
k-diffusion
kiwisolver
kornia
lazy-loader
librosa
llvmlite
markdown-it-py
markupsafe
matplotlib
mdurl
mypy-extensions
networkx
numba
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
packaging
pandas
pathtools
pesq
pillow
pkgutil-resolve-name
platformdirs
pooch
progressbar
protobuf
psutil
pyarrow
pycparser
pydantic
pydeck
pygments
pympler
pyparsing
python-multipart
pyrsistent
pysocks
python-dateutil
pytz-deprecation-shim
pytz
pywavelets
pyyaml
regex
requests
requests[socks]
resampy
resize-right
rich
rotary-embedding-torch
scikit-image
scikit-learn
scipy
semver
sentry-sdk
setproctitle
setuptools
simple-parsing
six
smmap
soundfile
soupsieve
streamlit
threadpoolctl
tifffile
tokenizers
toml
toolz
torch
torchaudio
torchdiffeq
torchlibrosa
torchsde
torchvision
tornado
tqdm
trampoline
transformers
typing-extensions
typing-inspect
tzdata
tzlocal
unidecode
urllib3
uvicorn
validators
voicefixer
wandb
watchdog
wcwidth
wheel
zipp
